<!DOCTYPE html>
<html>
    <head>
        <title>Cadastrar</title>
        <meta charset="utf-8">
        <link href="get-post-template.css" rel="stylesheet">
    </head>
    <body>
        <h1><%= status %></h1>
        <p>Nome: <%= nome %> </p>
        <p>Login: <%= login %></p>
        <p>Senha: <%= senha %></p>
        <p>Nascmento: <%= nasc %></p>
    </body>
</html>